/* Laptop */
@media screen and (max-width : 1024px) {

    .about-me .about-title {
        font-size: 4em;
    }

    .about-me .about-container-behind{
        transform: translate(-40%,60%);
    }
    
    .about-me .about-container{
        bottom: -64vw;
        left: -44vw;
        transform: translate(-50%,70%);
        font-size: .7em;
    }
}

/* TABLET */
@media screen and (max-width : 768px) {
    .main .main-card {
        width: 80vw;
        height: 40vh;
    }

    .main .main-card .card-content .photo {
        width: 75%;
    }

    .main .main-card .card-content {
        width: 80vw;
        height: 40vh;
        font-size: 1rem;
    }

    .about-me .about-title {
        font-size: 2.5em;
    }
}

/* MOBILE L */
@media screen and (max-width : 425px) {
    .main .main-card {
        width: 90vw;
        height: 30vh;
    }

    .main .main-card .card-content .photo {
        width: 90%;
    }

    .main .main-card .card-content {
        width: 80vw;
        height: 25vh;
        font-size: .6rem;
    }
}


/* MOBILE L */
@media screen and (max-width : 425px) {
    .main .main-card {
        width: 90vw;
        height: 30vh;
    }

    .main .main-card .card-content .photo {
        width: 90%;
    }

    .main .main-card .card-content {
        width: 80vw;
        height: 25vh;
        font-size: .6rem;
    }
}